<article class="post">
	<header>
		<h2 class="post__title">
			Lorem ipsum dolor sit amet.
		</h2>
	</header>
	<div class="post__body">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, omnis! Nemo necessitatibus labore, nulla tenetur aut voluptas alias ratione quia velit recusandae. Ipsam recusandae quidem aliquam, dicta distinctio at adipisci dolore ratione eaque mollitia magni doloribus? Beatae illum animi dignissimos optio neque tempora obcaecati iure accusamus assumenda iste. Ea, rem!
	</div>
</article>